@import url("sections/header.css");
@import url("sections/menu.css");
@import url("sections/footer.css");
@import url("sections/help.css");


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Josefin+Sans&family=Kanit:wght@300&display=swap');
*{
  font-family:"kanit",sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    width: 90%;
    margin:0 auto;
    background-color:#F4F7FB;
}
.container2{
    width:90%;
    margin-left:10px;
}

.text__orange{
  color:#EEA534;
}


