@import url("sections/header.css");
@import url("sections/menu.css");
@import url("sections/footer.css");
@import url("sections/help.css");
@import url("sections/whyus.css");


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Josefin+Sans&family=Kanit:wght@300&display=swap');
*{
  font-family:"kanit",sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    width: 90%;
    margin:0 auto;

}
.container2{
    width:90%;
    margin:0 auto;

}

.text__orange{
  color:#EEA534;
}
@media screen and (max-width:414px){
  .menu__container{
    
  }
}
.countdown{
  background-color: red;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

}
.cartsection-container{
  /* width: 200px; */
  background-color: #EEA534;
  min-height: 20vh;
  right:5%;
  position:absolute;
  
}
.header{
  position: relative;
}
.show__cart{
  width:500px;
}



