@import url("sections/header.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    width: 90%;
    margin:0 auto;
    background-color:#F4F7FB;
}
.container2{
    width:90%
    margin-left:10px;
}

.text__orange{
  color:#EEA534;
}

