.nav__container {
  display: flex;
  justify-content: space-between;
}
.nav__center ul li {
  list-style-type: none;
  display: inline;
  padding: 0 1em;
  gap: 2em;
}
.nav__right {
  display: flex;
  gap: 2em;
}
.hero {
  padding-top: 30px;
  padding-left: 5%;
}
.hero__header{
  padding-top: 20px;
  font-size:60px;
  justify-content: space-between;
}
.hero__left__paragraph{
    padding-top:30px;
}
.nav__center ul li :hover{
    background-color: #EEA534;
    color: white;
}
.hero__form__label{
    background-color: black;
    color:white;
    border-radius:border-box;
    padding:30px
    
}

