
*{
    margin: 0 ;
    padding: 0;
}

.category{
    display: flex;
    justify-content: space-evenly;
}
.menu{
    margin-top: 50px;
} 
.category h3:hover{
    color:#eea539;
    cursor: pointer;
} 
.category-border{
    border: solid darkgray 1px;
    width: 100%;
    margin: 2.5em 0;
}  
.image__button{
    background-color: black;
    color: white;
    padding: 10px;
}
.menu__container{
    display: flex;
    justify-content: space-between;
}
.bbq__image{
    background-color:#F4F7FB ;
border-radius: 20px;
width: 30%;
height:20vh;



}
.button__menu{
    background-color: #eea539;
    color: white;
    align-items: center;
    padding: 1em 1em;
    margin-top: 30px;
    margin-bottom: 30px;
    display:flex;

}
.menu__head{
    padding-left: 10%;
}
.image__whyus{
    margin-top:100px;
}
.fresh__pizza{
    display:flex;
}
 .menu__contents{
    display:flex;
 } 
.menu__head__contents{
    justify-content:space-evenly;
    padding-top: 100px;
    padding-left:10%;
    background-color:rgb(202, 225, 247);
}
.fresh__pizza__image{
    background-color: black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
}

.fresh__pizza h3 p {
    display: flex;
    
}

