
*{
    margin: 0 ;
    padding: 0;
}

.category{
    display: flex;
    justify-content: space-evenly;
}
.menu{
    margin-top: 50px;
} 
.category h3:hover{
    color:#eea539;
    cursor: pointer;
} 
.category-border{
    border: solid darkgray 1px;
    width: 100%;
    margin: 2.5em 0;
}  
.image__button{
    background-color: black;
    color: white;
    padding: 10px;
}
.menu__container{
    display: flex;
    justify-content: space-between;
}
.bbq__image{
    background-color:#F4F7FB ;
border-radius: 20px;
width: 30%;
height:20vh;



}
.button__menu{
    background-color: #eea539;
    color: white;
    align-items: center;
    padding: 1em 1em;
    margin-top: 30px;
    margin-bottom: 30px;
    display:flex;

}
.menu__contents{
    display:flex;
    justify-content: space-around;
}
.menu__left{
    width: 50%;
}
.menu__contents__right{
    width: 50%;
}
.menu__contents__right__images{
    display: flex;
    align-items: center;
    padding: 3rem 0;
}
.menu__contents__right__images-img{
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}
.why{
    color: #eea539;
}
.shop__container{
    display:flex;
    justify-content:space-around;
    padding-right:10%;
}
.BBQ__image{
    
}

